@media (max-width: 480px) {
  .staff-member, .customer {
    width: 90%;
    margin: 0 auto;
    padding: $very_wide;
    text-align: center;

    &-title {
      margin: $very_wide 0;
      color: $dark_gray;
    }

    th, td {
      color: $dark_gray;
      border: 1px solid $gray;
      display: block;
      padding: $wide 0;
    }

    td {
      margin-bottom: $very_wide;
    }
  }
}

@media (min-width: 480px) {
  .staff-member, .customer {
    width: 70%;
    margin: 0 auto;
    padding: $very_wide;
    text-align: center;
    border-collapse: collapse;

    &-title {
      margin: $very_wide 0;
      color: $dark_gray;
    }

    th {
      width: 40%;
    }

    th, td {
      color: $dark_gray;
      border: 1px solid $gray;
      padding: $very_wide 0;
    }
  }
}
