// for smart phone
@media (max-width: 480px) {
  html, body {
    height: 100%;
  }

  .wrapper {
    position: relative;
    box-sizing: border-box;
    min-height: 100%;
    margin: 0 auto;
    padding-bottom: 80px;
    background-color: $light_gray;

    .container {
      h1.title {
        margin: 0;
        padding: $moderate * 1.5 $moderate;
        font-size: $large;
        font-weight: normal;
        color: $light_gray;
      }
    }
  }
}

@media (min-width: 480px) {
  html, body {
    height: 100%;
  }

  .wrapper {
    position: relative;
    box-sizing: border-box;
    min-width: 600px;
    min-height: 100%;
    margin: 0 auto;
    padding-bottom: $very_wide + 60px;
    background-color: $light_gray;

    .container {
      h1.title {
        margin: 0;
        padding: $moderate * 1.5 $moderate;
        font-size: $large;
        font-weight: normal;
        color: $light_gray;
      }
    }
  }
}
