// for smart phone
@media (max-width: 480px) {
  .wrapper {
    position: relative;
    box-sizing: border-box;
    min-height: 100%;
    margin: 0 auto;
    padding-bottom: 80px;
    background-color: $light_gray;
  }
}

@media (min-width: 480px) {
  .wrapper {
    position: relative;
    box-sizing: border-box;
    min-width: 600px;
    min-height: 100%;
    margin: 0 auto;
    padding-bottom: $very_wide + 60px;
    background-color: $light_gray;
  }
}
