// colors

// main color
$black: #263238;
$gray: #F5F5F5;
$dark_gray: #666666;
$light_gray: #eeeeee;
$very_light_gray: #fafafa;

// red (for admin)
$admin_red: #D81B60;
$admin_dark_red: darken($admin_red, 25%);

// green (for staff)
$staff_green: #7CB342;
$staff_dark_green: darken($staff_green, 25%);

// blue (for customer)
$customer_blue: #039BE5;
$customer_dark_blue: darken($customer_blue, 25%);

// flash
$flash_green: #8BC34A;
$flash_red: #ef5350;
$flash_red_lighten: lighten($flash_red, 25%);

// table
$selected_blue: #90CAF9;
