// margin, padding
$narrow: 2px;
$moderate: 6px;
$wide: 10px;
$very_wide: 20px;

// font-size
$tiny: 12px;
$small: 16px;
$normal: 20px;
$large: 24px;
$huge: 30px;
$title_large: 30px;
$title_large_phone: 38px;

// line-height
$standard_line_height: 16px;
