= markup do |m|
  - form_presenter = StaffMemberFormPresenter.new(f, self)
  - m << form_presenter.notes
  - form_presenter.with_options(required: true) do |option_form|
    - m << option_form.text_field_block(:email, 'メールアドレス', size: 32, placeholder: 'Your email')
    - m << option_form.full_name_block(:family_name, :given_name, '氏名', class: 'name')
    - m << option_form.full_name_block(:family_name_kana, :given_name_kana, 'フリガナ', class: 'name')
