- @title = 'アカウント情報編集'
= form_for @staff_member, url: staff_account_path do |f|
  = render 'form', f: f
  .row.my-4.px-3
    = link_to 'キャンセル', staff_account_path, class: 'col-2 mr-1 btn btn-raised btn-warning'
    = f.submit '更新', class: 'col-2 btn btn-raised btn-info'
