@media (min-width: 480px) {
  header {
    .logo-mark {
      background-color: $admin_red;
    }
  }

  .wrapper {
    .container {
      h1.title {
        background-color: $admin_dark_red;
      }

      .error {
        border: solid 2px $admin_dark_red;
      }

      .menu {
        li {
        }
      }

      .login_form, .generic_form {
        &-input input[type='submit'] {
          background-color: $admin_red;
        }
      }

      .table-wrapper {
        width: 80%;
        margin: $very_wide auto;
        padding: $very_wide;
        border: solid 1px $gray;
        background-color: white;
        text-align: center;
        .links {
          width: 90%;
          text-align: right;
          margin: $wide auto;
          a {
            display: block;
            width: 120px;
            margin-left: auto;
            padding: $wide $very_wide;
            background-color: $customer_blue;
            color: white;
            border: solid 1px $gray;
            border-radius: 5px;
            text-decoration: none;
            text-align: center;
            font-size: $normal;
          }
        }

        .overflow {
          overflow-x: scroll;
          .staff-members {
            width: 90%;
            min-width: 700px;
            padding: 0 30px;
            margin: $very_wide auto;
            border-collapse: collapse;
            &_column {
              border-bottom: 1px solid $light_gray;
              th {
                padding: $moderate;
                font-size: $tiny;
                font-weight: normal;
                color: $dark_gray;
              }
            }

            &_data {
              &:hover {
                background-color: $selected_blue;
              }

              td {
                padding: $wide;
                font-size: $tiny;
                color: $dark_gray;
              }

              &_actions {
                text-align: center;
                a {
                  width: 25%;
                  box-sizing: border-box;
                  display: inline-block;
                  padding: 5%;
                  margin: 0 2%;
                  text-align: center;
                  text-decoration: none;
                  color: $very_light_gray;
                  border-radius: 3px;
                }

                &-log {
                  background-color: $dark_gray;
                }

                &-edit {
                  background-color: $flash_green;
                }

                &-delete {
                  background-color: $flash_red;
                }
              }
            }
          }
        }
      }
    }
  }
}
