header {
  .logo-mark {
    background-color: $admin_red;
  }
}

.wrapper {
  .container {
    h1.title {
      background-color: $admin_dark_red;
    }

    .error {
      border: solid 2px $admin_dark_red;
    }

    .login_form {
      &-input input[type='submit'] {
        background-color: $admin_red;
      }
    }
  }
}
