@media (max-width: 480px) {
  header {
    .logo-mark {
      background-color: $admin_red;
    }
  }

  .wrapper {
    .container {
      h1.title {
        background-color: $admin_dark_red;
      }

      .error {
        border: solid 2px $admin_dark_red;
      }

      .menu {
        li {
        }
      }

      .login_form, .generic_form {
        &-input input[type='submit'] {
          background-color: $admin_red;
        }

        #enable-password_field-button, #disable-password_field-button {
          width: 80%;
          margin: $wide auto;
          padding: $wide $wide;
          border: 1px solid $gray;
          border-radius: 5px;
          border-bottom: 4px solid $dark_gray;
          color: $dark_gray;
        }

        #enable-password_field-button {
          background-color: $admin_red;
          color: $very_light_gray;
        }

        #disable-password_field-button {
          display: none;
          background-color: $customer_blue;
          color: $very_light_gray;
        }

        #staff_member_password {
          display: none;
        }
      }

      .table-wrapper {
        width: 90%;
        margin: $very_wide auto;
        padding: $very_wide;
        border: solid 1px $gray;
        background-color: white;
        text-align: center;
        .links {
          width: 100%;
          margin: $wide auto;
          a {
            display: block;
            padding: $wide $very_wide;
            background-color: $customer_blue;
            color: white;
            border: solid 1px $gray;
            border-radius: 5px;
            text-decoration: none;
            text-align: center;
            font-size: $normal;
          }
        }

        .staff-member-events {
          width: 100%;
          margin: 0 auto;
          padding: $very_wide 0;
          text-align: center;
          th {
            padding: $moderate 0;
            font-size: $tiny;
            font-weight: normal;
            color: $dark_gray;
            border-bottom: 1px solid $light_gray;
          }

          td {
            padding: $wide 0;
            font-size: $tiny;
            font-weight: normal;
            color: $dark_gray;
            a {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
