- if current_page.last?
  %li.page-item.disabled
    = link_to t('views.pagination.next').html_safe, url, remote: remote, class: 'page-link'
- else
  %li.page-item
    = link_to t('views.pagination.next').html_safe, url, remote: remote, class: 'page-link'
