// for smartphone
@media (max-width: 480px) {
  .error {
    width: 60%;
    margin: $very_wide auto;
    padding: $very_wide;
    border-radius: 10px;
    background-color: $very_light_gray;
    text-align: center;
    p {
      font-size: $normal;
      &.url {
        font-family: monospace;
        font-size: $normal;
      }
    }
  }
}

// for pc
@media (min-width: 480px) {
  .error {
    width: 85%;
    margin: $very_wide auto;
    padding: $very_wide;
    border-radius: 10px;
    background-color: $very_light_gray;
    text-align: center;
    p {
      font-size: $normal;
      &.url {
        font-family: monospace;
        font-size: $normal;
      }
    }
  }
}
