@media (max-width: 480px) {
  header {
    .logo-mark {
      background-color: $staff_green;
    }
  }

  .wrapper {
    .container {
      h1.title {
        background-color: $staff_dark_green;
      }

      .error {
        border: solid 2px $staff_dark_green;
      }

      .login_form, .generic_form {
        &-input input[type='submit'] {
          background-color: $staff_green;
        }
      }

      .table-wrapper {
        width: 85%;
        margin: $very_wide auto;
        padding: $very_wide;
        border: solid 1px $gray;
        background-color: white;
        text-align: center;
        .links {
          width: 100%;
          margin: $wide auto;
          a {
            display: block;
            padding: $wide $very_wide;
            background-color: $customer_blue;
            color: white;
            border: solid 1px $gray;
            border-radius: 5px;
            text-decoration: none;
            text-align: center;
            font-size: $normal;
          }
        }

        .staff-member {
          width: 50%;
          margin: 0 auto;
          padding: $very_wide;
          text-align: center;
          th, td {
            display: block;
            padding: $wide 0;
          }

          td {
            margin-bottom: $very_wide;
          }
        }
      }
    }
  }
}
