= f.fields_for :work_address, f.object.customer.work_address do |ff|
  = markup do |m|
    :ruby
      presenter = AddressFormPresenter.new(ff, self)
      m << presenter.text_field_block(:company_name, '会社名', size: 40, required: true)
      m << presenter.text_field_block(:division_name, '部署名', size: 40)
      m << presenter.postal_code_block(:postal_code, size: 7)
      m << presenter.drop_down_list_block(:prefecture, '都道府県', Address::PREFECTURE_NAMES)
      m << presenter.text_field_block(:city, '市区町村', size: 16)
      m << presenter.text_field_block(:address1, '町域、番地等', size: 40)
      m << presenter.text_field_block(:address2, '建物名、部屋番号等', size: 40)
    - m.div(class: 'generic_form-input') do
      - m << presenter.decorated_label(:phones, '電話番号')
      - presenter.object.phones.each_with_index do |phone, index|
        - m << render('phone_fields', f: ff, phone: phone, index: index)
