%nav.navbar.navbar-dark.bg-success.navbar-expand-lg
  = link_to staff_root_path, class: 'navbar-brand' do
    BAUKIS
    %span.logo-mark-addition for staff
  .navbar-brand.justify-content-between
    - if current_staff_member
      = link_to 'Account', staff_account_path, class: 'navbar-brand'
      = link_to 'Logout', staff_session_path, method: :delete, class: 'navbar-brand'
    - else
      %li.nav-item
        = link_to 'Log in', staff_login_path, class: 'dropdown-item'
