html, body {
  height: 100%;
}

header {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  height: 60px;
  line-height: 60px;
  .logo-mark {
    box-sizing: border-box;
    -webkit-flex-basis: 250px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    &-addition {
      font-weight: normal;
      font-size: 15px;
    }
  }
  .header-right {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    background-color: #1C1F23;
    text-align: right;
    &-button {
      display: inline-block;
      width: 100px;
      line-height: 60px;
      color: $very_light_gray;
      text-decoration: none;
      text-align: center;
      font-size: 15px;
      font-weight: bold;
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color: $gray;
      }
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $dark_gray;
  color: $very_light_gray;
  p {
    text-align: center;
    padding: 5px;
    margin: 0;
  }
}

.wrapper {
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
  background-color: $gray;
  .container {
    h1 {
      margin: 0;
      padding: $moderate * 1.5 $moderate;
      font-size: $large;
      font-weight: normal;
      color: $light_gray;
    }
  }
}
